# <font color='blue'>Uni-Facef - Pyspark - Atividade</font>

**Trabalho Python Facef - André Borges [22290**]

Essa atividade tem como objetivo descobrir um pouco mais sobre o cliente e traçar um perfil do mesmo. Visto que temos as informações pessoais do cliemte em um arquivo chamado "cliente_fake.csv", e os dados transacionais desse cliente no arquivo chamado "venda_fake". E idéia do exercicio é a manipulação dos dados de forma a fazer agregações, join nos dados, podendo ser necessário o uso de UDFs, gerando um Dataframe Final:

#### O Dataframe final deve estar agrupado por cliente (cliente_id), e conter as seguintes informações:

- cliente_id - O identificador do cliente
- idade - Calcular a idade do cliente (valor inteiro)
- recencia - Calcular a quantos meses faz que o cliente não compra (valor inteiro)
- qt_total_compras - Quantidade total de compras (pedidos distintos)
- vr_total_compras = Valor total de compras do cliente
- qt_total_itens - Quantidade total de itens comprados pelo cliente (produto_id distintos)
- qt_max_parcelas - Quantidade máxima de parcelas que o cliente já utilizou
- perfil_cliente - Deve mostrar o perfil de compra desse cliente, se compra somente "loja" ou somente "online", ou em ambos "multicanal";

OBS: O dataset "venda_fake" está a nível de itens. Pode haver mais de um item por pedido, ito é, o numero do pedido pode estar duplicado nodataset.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 63kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 44.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=031fa46310093005244ad85991eede8ef6cf23e02559ef0fc1ed11fb0794cc91
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [8]:
# coding: utf-8
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder \
    .appName('ConhecendoCliente') \
    .getOrCreate()

#### Dataset de cliente

In [10]:
df_cliente = spark.read \
    .option("delimiter", "|") \
    .csv('cliente_fake.csv', header=True)

df_cliente.orderBy('cliente_id').show()

+--------------+----------+-------------+
|          nome|cliente_id|dt_nascimento|
+--------------+----------+-------------+
|Cliente 100001|    100001|   2009-04-16|
|Cliente 100002|    100002|   1974-08-29|
|Cliente 100003|    100003|   1981-12-05|
|Cliente 100004|    100004|   1968-08-08|
|Cliente 100005|    100005|   1982-11-29|
|Cliente 100006|    100006|   1948-04-01|
|Cliente 100007|    100007|   1976-11-04|
|Cliente 100008|    100008|   1980-12-01|
|Cliente 100009|    100009|   1981-03-05|
|Cliente 100010|    100010|   1984-03-20|
|Cliente 100011|    100011|   1977-11-22|
|Cliente 100012|    100012|   1974-02-04|
|Cliente 100013|    100013|   1964-06-21|
|Cliente 100014|    100014|   1964-05-24|
|Cliente 100015|    100015|   1946-10-18|
|Cliente 100016|    100016|   1972-03-24|
|Cliente 100017|    100017|   1982-01-19|
|Cliente 100018|    100018|   1983-04-26|
|Cliente 100019|    100019|   1971-09-09|
|Cliente 100020|    100020|   1989-06-18|
+--------------+----------+-------------+

#### Dataset de pedido

In [11]:
df_venda = spark.read \
    .option("delimiter", "|") \
    .csv('venda_fake.csv', header=True)

df_venda.orderBy('cliente_id').show()

+--------------+----------+--------------------+----------+-----------+--------------+------------+-------+--------+
|     pedido_id|cliente_id|           dt_pedido|produto_id|qt_parcelas|   forma_pagto|vr_unit_item|qt_item|tp_canal|
+--------------+----------+--------------------+----------+-----------+--------------+------------+-------+--------+
|10000120200626|    100001|2020-06-26T00:00:...|   7560984|         16|cartao credito|     1399.04|      1|    loja|
|10000220200221|    100002|2020-02-21T00:00:...|   7637880|          9|         carne|     1280.07|      1|    loja|
|10000320200730|    100003|2020-07-30T00:00:...|   7642944|         10|        outros|      998.96|      1|    loja|
|10000320200810|    100003|2020-08-10T00:00:...|   7642956|          9|        outros|         899|      1|    loja|
|10000320200810|    100003|2020-08-10T00:00:...|   6906072|          9|        outros|        6.99|      1|    loja|
|10000420200109|    100004|2020-01-09T00:00:...|   7213236|         20|cartao credito|        2294|      1|    loja|
|10000420200107|    100004|2020-01-07T00:00:...|   6879168|         24|cartao credito|   2272.0801|      1|    site|
|10000420200109|    100004|2020-01-09T00:00:...|   7213236|          1|        debito|        2294|      1|    loja|
|10000520200214|    100005|2020-02-14T00:00:...|   7589448|         13|         carne|     1242.28|      1|    loja|
|10000520200121|    100005|2020-01-21T00:00:...|   7197636|         15|         carne|        1965|      1|    loja|
|10000620200810|    100006|2020-08-10T00:00:...|   7498680|          9|         carne|     2275.32|      1|    loja|
|10000620200810|    100006|2020-08-10T00:00:...|   7502256|          9|         carne|      795.54|      1|    loja|
|10000620200810|    100006|2020-08-10T00:00:...|   2320992|          9|         carne|       49.93|      2|    loja|
|10000720200217|    100007|2020-02-17T00:00:...|   6253644|         20|cartao credito|         478|      1|    loja|
|10000720200217|    100007|2020-02-17T00:00:...|   5313408|         20|cartao credito|      1357.2|      1|    loja|
|10000720200625|    100007|2020-06-25T00:00:...|   6858780|          7|cartao credito|       317.8|      1|    site|
|10000720200217|    100007|2020-02-17T00:00:...|   6253140|         20|cartao credito|         372|      1|    loja|
|10000820200712|    100008|2020-07-12T00:00:...|   7677504|         14|cartao credito|     1399.86|      1|    loja|
|10000920200612|    100009|2020-06-12T00:00:...|   7571508|         20|cartao credito|        1299|      1|    loja|
|10000920191209|    100009|2019-12-09T00:00:...|   7318728|         15|cartao credito|         999|      1|    loja|
+--------------+----------+--------------------+----------+-----------+--------------+------------+-------+--------+
only showing top 20 rows

 #### Dataframe Final

In [78]:
import pyspark.sql.functions as spark

cliente = df_cliente.select(spark.col('cliente_id'))

idade = df_cliente.select(spark.col('cliente_id'), (spark.year(spark.current_date()) - spark.year('dt_nascimento')).alias('idade'))                                                     

recencia = df_venda \
  .select(spark.col('cliente_id'), spark.col('dt_pedido').cast('timestamp')) \
  .withColumn('recencia', spark.round(spark.months_between(spark.current_date(), 'dt_pedido').cast("integer"))) \
  .groupBy('cliente_id') \
  .max('recencia') \
  .select(spark.col('cliente_id'), spark.col('max(recencia)').alias("recencia"))

qt_total_compras = df_venda \
  .select(spark.col('cliente_id'), spark.col('pedido_id')) \
  .distinct() \
  .groupBy('cliente_id') \
  .count() \
  .select(spark.col('cliente_id'), spark.col('count').alias("qt_total_compras")) 

vr_total_compras = df_venda \
  .select(
      spark.col('cliente_id'),
      spark.col('vr_unit_item').cast('numeric(10,2)'),
      spark.col('qt_item').cast('integer')) \
  .withColumn('vr_total_items', 
              spark.col('vr_unit_item').cast('numeric(10,2)') * \
              spark.col('qt_item').cast('integer')) \
  .groupBy('cliente_id') \
  .sum('vr_total_items') \
  .select(spark.col('cliente_id'), spark.col('sum(vr_total_items)').alias("vr_total_compras")) 

qt_total_itens = df_venda \
  .select(spark.col('cliente_id'), spark.col('produto_id')) \
  .distinct() \
  .groupBy('cliente_id') \
  .count() \
  .select(spark.col('cliente_id'), spark.col('count').alias("qt_total_itens"))   

qt_max_parcelas = df_venda \
  .select(spark.col('cliente_id'), spark.col('qt_parcelas').cast('integer')) \
  .distinct() \
  .groupBy('cliente_id') \
  .max('qt_parcelas') \
  .select(spark.col('cliente_id'), spark.col('max(qt_parcelas)').alias("qt_max_parcelas"))  

cliente_tpc = df_venda \
  .select(spark.col('tp_canal'), spark.col('cliente_id')) \
  .distinct() \
  .groupBy('cliente_id') \
  .agg(spark.max("tp_canal").alias("tp_canal"))

cliente_qtc = df_venda \
  .select(spark.col('tp_canal'), spark.col('cliente_id')) \
  .distinct() \
  .groupBy('cliente_id') \
  .count() \
  .select(spark.col('cliente_id'), spark.col('count').alias("qt_canal"))     
  
perfil_cliente = perfil_cliente_nome.join(perfil_cliente_qt, 'cliente_id') \
  .withColumn('perfil_cliente', spark.when(spark.col('qt_canal') == 1, spark.col('tp_canal'))
  .otherwise("multicanal"))

perfil_cliente = perfil_cliente.select(spark.col('cliente_id'),spark.col('perfil_cliente'))

output = cliente.join(idade, 'cliente_id') \
  .join(recencia, 'cliente_id') \
  .join(qt_total_compras, 'cliente_id') \
  .join(vr_total_compras, 'cliente_id') \
  .join(qt_total_itens, 'cliente_id') \
  .join(qt_max_parcelas, 'cliente_id') \
  .join(perfil_cliente, 'cliente_id') 

output.orderBy('cliente_id').show()

+----------+-----+--------+----------------+----------------+--------------+---------------+--------------+
|cliente_id|idade|recencia|qt_total_compras|vr_total_compras|qt_total_itens|qt_max_parcelas|perfil_cliente|
+----------+-----+--------+----------------+----------------+--------------+---------------+--------------+
|    100001|   11|       4|               1|         1399.04|             1|             16|          loja|
|    100002|   46|       8|               1|         1280.07|             1|              9|          loja|
|    100003|   39|       3|               2|         1904.95|             3|             10|          loja|
|    100004|   52|       9|               2|         6860.08|             2|             24|    multicanal|
|    100005|   38|       9|               2|         3207.28|             2|             15|          loja|
|    100006|   72|       2|               1|         3170.72|             3|              9|          loja|
|    100007|   44|       8|               2|         2525.00|             4|             20|    multicanal|
|    100008|   40|       3|               1|         1399.86|             1|             14|          loja|
|    100009|   39|      10|               3|         4478.00|             4|             20|          loja|
|    100010|   36|       9|               1|          898.97|             1|              9|          loja|
|    100011|   43|       8|               1|         1324.80|             2|              9|          loja|
|    100012|   46|       7|               1|         1099.98|             1|             14|          loja|
|    100013|   56|      10|               4|         7053.58|             7|             15|    multicanal|
|    100014|   56|       7|               2|         1746.01|             3|             11|          loja|
|    100015|   74|       4|               2|         2592.99|             3|              9|          loja|
|    100016|   48|       8|               1|          181.08|             2|              9|          loja|
|    100017|   38|      10|               1|         4176.88|             2|             17|          loja|
|    100018|   37|      10|               1|         1437.96|             3|             13|          loja|
|    100019|   49|       7|               3|         6114.96|             3|             13|          loja|
|    100020|   31|       3|               1|          755.66|             2|             11|          loja|
+----------+-----+--------+----------------+----------------+--------------+---------------+--------------+